# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:12345@db:3306/test"
JWT_SECRET="asd21389df984w12398hfsr23449fjer5t"
MINIO_ENDPOINT='minio'
MINIO_ENDPOINT2='localhost'
MINIO_PORT='9000'
MINIO_PORT2='9001'
MINIO_USE_SSL='false'
MINIO_ACCESS_KEY="UbJzSBYd0TkOEdrcHGHA"
MINIO_SECRET_KEY="HettX7QPQjDYChgnHITn8HGuMGRFI8r5XLmwhFvB"
MINIO_BUCKET="test"
